<!-- settingsModal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div class="col-md-8">
                    <h4 class="modal-title" id="estrategiaModalLabel">
                        <span ng-if="!x._id">Inserir</span>
                        <span ng-if="x._id">Alterar</span>
                    </h4>
                </div>

                <div class="col-md-4 input-group">
                    <span class="input-group-addon">
                        Status:
                    </span>
                    <select id="status" ng-model="x.status" ng-options="o for o in statusEnum track by o"
                        class="form-control"></select>
                </div>
            </div>

            <form id="form-settings-modal">
                <div class="modal-body">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <span class=""><i class="fa fa-lock"></i> Regras de Acesso</span>
                        </div>

                        <div class="panel-body ips-font-monospace">
                            <div class="col-xs-12 col-md-6">
                                <b>Nome:</b><br> <input type="text" ng-model="x.name" class="form-control"
                                    placeholder=""> <br>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <b>Visibilidade (contexto):</b><br>
                                <!-- <select class="form-control" ng-model="x.visibility" ng-selected="o == 'Mínimo'"
                                    ng-options="o for o in contextList track by o">
                                </select> -->
                                <select class="form-control" ng-model="x.visibility">
                                    <option ng-repeat="o in contextList track by o" ng-value="o">
                                        {{o}}
                                    </option>
                                </select>
                            </div>
                            <br><br>
                            <br><br>
                            <table class="table table-bordered table-striped table-hover text-center">
                                <label>REGRAS DE PERMISSÃO DE ACESSO AOS MÓDULOS</label>
                                <thead>
                                    <tr>
                                        <th>Módulos</th>
                                        <th class="text-center">C</th>
                                        <th class="text-center">R</th>
                                        <th class="text-center">U</th>
                                        <th class="text-center">D</th>
                                        <!-- <th class="text-center">F</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="r in modelNameList">
                                        <th>
                                            <span
                                                ng-value="x.role[$index]._modelName = r">{{x.role[$index]._modelName}}</span>
                                        </th>
                                        <td>
                                            <a class="btn btn-default" role="button" data-toggle="modal"
                                                data-target="#legendModal"
                                                ng-click="selecteds({ 'idx':$index, 'comando': 'create'})">
                                                <span ng-if="!x.role[$index].create">&nbsp;</span>
                                                {{x.role[$index].create}}
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-default" role="button" data-toggle="modal"
                                                data-target="#legendModal"
                                                ng-click="selecteds({ 'idx':$index, 'comando': 'read'})">
                                                <span ng-if="!x.role[$index].read">&nbsp;</span>
                                                {{x.role[$index].read}}
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-default" role="button" data-toggle="modal"
                                                data-target="#legendModal"
                                                ng-click="selecteds({ 'idx':$index, 'comando': 'update'})">
                                                <span ng-if="!x.role[$index].update">&nbsp;</span>
                                                {{x.role[$index].update}}
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-default" role="button" data-toggle="modal"
                                                data-target="#legendModal"
                                                ng-click="selecteds({ 'idx':$index, 'comando': 'delete'})">
                                                <span ng-if="!x.role[$index].delete">&nbsp;</span>
                                                {{x.role[$index].delete}}
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" ng-hide="x._id">Limpar</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="createItem(x)"
                        ng-if="!x._id">Salvar</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="updateItem(x)"
                        ng-if="x._id">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>