<div class="panel panel-default">

    <div class="panel-heading">
        <span class=""><i class="fa fa-lock"></i> Regras de Acesso</span>
    </div>

    <div class="panel-body ips-font-monospace">
        <div class="col-xs-12 col-md-6">
            <b>Nome:</b><br> <input type="text" ng-model="x.name" class="form-control" placeholder=""> <br>
        </div>
        <div class="col-xs-12 col-md-6">
            <b>Visibilidade (escopo):</b><br>
            <select class="form-control" ng-model="x.visibility" ng-options="o for o in ModelNameEnum track by o">
            </select>
        </div>
        <br><br>
        <br><br>
        <table class="table table-bordered table-striped table-hover text-center">
            <label>REGRAS DE PERMISSÃO DE ACESSO AOS MÓDULOS</label>
            <thead>
                <tr>
                    <th>Módulos</th>
                    <th class="text-center">C</th>
                    <th class="text-center">R</th>
                    <th class="text-center">U</th>
                    <th class="text-center">D</th>
                    <!-- <th class="text-center">F</th> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in ModelNameEnum">
                    <th>
                        {{ r }}
                    </th>
                    <td class="col-xs-1">
                        <a class="btn btn-default" role="button" data-toggle="modal" data-target="#legendModal"
                            ng-click="selecteds({ 'idx':$index, 'comando': 'create'})">
                            <span ng-if="!x.role[$index].create">&nbsp;</span>
                            {{x.role[$index].create}}
                        </a>
                    </td>
                    <td class="col-xs-1">
                        <a class="btn btn-default" role="button" data-toggle="modal" data-target="#legendModal"
                            ng-click="selecteds({ 'idx':$index, 'comando': 'read'})">
                            <span ng-if="!x.role[$index].read">&nbsp;</span>
                            {{x.role[$index].read}}
                        </a>
                    </td>
                    <td class="col-xs-1">
                        <a class="btn btn-default" role="button" data-toggle="modal" data-target="#legendModal"
                            ng-click="selecteds({ 'idx':$index, 'comando': 'update'})">
                            <span ng-if="!x.role[$index].update">&nbsp;</span>
                            {{x.role[$index].update}}
                        </a>
                    </td>
                    <td class="col-xs-1">
                        <a class="btn btn-default" role="button" data-toggle="modal" data-target="#legendModal"
                            ng-click="selecteds({ 'idx':$index, 'comando': 'delete'})">
                            <span ng-if="!x.role[$index].delete">&nbsp;</span>
                            {{x.role[$index].delete}}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<!-- legendModal -->
<div class="modal" id="legendModal" tabindex="-1" role="dialog" aria-labelledby="legendModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="list-group">
                    <a href class="list-group-item" data-dismiss="modal" ng-click="inserirLegenda('S')">
                        <b>S</b>cope (Escopo)
                    </a>
                    <a href class="list-group-item" data-dismiss="modal" ng-click="inserirLegenda('C')">
                        <b>C</b>ontext (Contexto)
                    </a>
                    <a href class="list-group-item" data-dismiss="modal" ng-click="inserirLegenda('V')">
                        <b>V</b>alidation (Validação)
                    </a>
                    <a href class="list-group-item" data-dismiss="modal" ng-click="inserirLegenda('A')">
                        <b>A</b>ll (Todos)
                    </a>
                    <a href class="list-group-item" data-dismiss="modal" ng-click="inserirLegenda(null)">
                        Void (Vazio) <span class="label label-primary pull-right">Padrão</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>