
<div id="alerta"></div>
<br />
<div class="row hidden-print">
    <div class="col-lg-12">
        <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal" ng-click="x=null">
            <i class="fa fa-plus"></i>
            Criar novo
        </button>
    </div>
</div>
<br />
<div class="row text-right">
    <div class="col-lg-12"><label> Filtrar: <input type="text" ng-model="filtro"> </label></div>
</div>
<div id="mudar" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default" ng-repeat="m in metas | orderBy: 'id_goal' | filter: filtro">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#meta{{m._id}}"
                    aria-expanded="false" aria-controls="collapseTwo">
                    <div class="row">
                        <div class="col-xs-4">
                            Meta {{m.id_goal}}
                        </div>
                        <div class="col-xs-2"></div>
                        <div class="col-xs-6 text-right">
                            Coord: {{m.coordinator.fullName}}
                        </div>
                    </div>
                </a>
            </h4>
        </div>
        <div id="meta{{m._id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{percentual(m.stats.qtd, m.stats.done)}}"
                                aria-valuemin="0" aria-valuemax="100" style="width: {{percentual(m.stats.qtd, m.stats.done)}}%;">
                                {{percentual(m.stats.qtd, m.stats.done)}}%
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 text-justify">
                        <strong>Descrição sumária:</strong>
                        <br />{{m.description}}
                        <br />
                        <br /><b>Coordenador</b>: {{m.coordinator.name}}
                    </div>
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-4">
                        <b>Qtd de estratégias:</b> {{m.stats.qtd}}
                        <br /><b>Estratégias concluídas:</b> {{m.stats.done}}
                        <br /><b>Percentual de conclusão:</b> {{percentual(m.stats.qtd, m.stats.done)}}%
                        <br />
                        <button type="button" class="btn btn-info" ui-sref="app.estrategias({param1:m})">Detalhes</button>
                        <button type="button" class="btn btn-default disabled" ng-click="toUpdateItem(m)" data-toggle="modal"
                            data-target="#myModal">Editar</button>
                        <button type="button" class="btn btn-danger disabled" ng-click="deleteItem(m)">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Inserir/alterar meta</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <ul class="list-unstyled">
                        <li class="col-md-3">
                            ID da meta:
                            <input type="text" ng-readonly="detail" ng-model="x.id_goal" class="form-control"
                                placeholder="ex: 01..09..10">
                        </li>
                        <li class="col-md-9">
                            Coordenador:
                            <select id="coords" ng-model="selectedUser" ng-options="u.name for u in users" class="form-control"></select>
                            <!-- <input id="myInput2" type="text" ng-disabled="detail" ng-change="x.coordinator = x.coordinator.toUpperCase()"
                            ng-model="x.coordinator" class="form-control"> -->
                            <!-- <input id="myInput" type="text" ng-disabled="detail" ng-change="x.coordinator = x.coordinator.toUpperCase()"
                                ng-model="x.coordinator" class="form-control"> -->
                        </li>
                        <li class="col-md-6">
                            E-mail:
                            <input type="text" ng-disabled="detail" ng-change="x.email = x.email.toLowerCase()"
                                ng-model="x.email" class="form-control" />
                        </li>
                        <li class="col-md-6">
                            Telefone:
                            <input type="text" ng-disabled="detail" ng-model="x.phone" class="form-control">
                        </li>
                        <li class="col-md-12">
                            Descrição da meta:
                            <textarea rows="6" ng-disabled="detail" ng-model="x.description" class="form-control"></textarea>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createItem(x)">Salvar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" id="btnCreateItem">Salvar Teste</button>
            </div>
        </div>
    </div>
</div>