<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="text-center" ng-show="isLoadingItem">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>

    <!-- * TABELA -->
    <div class="panel panel-default" ng-show="!isLoadingItem">
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th class="text-left"> Código: </th>
                    <td class="text-left"> 001 </td>
                </tr>
                <tr>
                    <th class="text-left"> Nome completo: </th>
                    <td class="text-left">
                        <span ng-hide="true"></span>
                        <span ng-hide="false">
                            <a href data-toggle="modal" data-target="#auxiliaryModal">
                                <i class="text-danger small">Insira o nome completo do auxiliar</i>
                            </a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="text-left"> Telefones: </th>
                    <td class="text-left">
                        <span ng-hide="true"></span>
                        <span ng-hide="false">
                            <a href data-toggle="modal" data-target="#auxiliaryModal">
                                <i class="text-danger small">Insira pelo menos um telefone para contato</i>
                            </a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="text-left"> Email: </th>
                    <td class="text-left">
                        <span ng-hide="true"></span>
                        <span ng-hide="false">
                            <a href data-toggle="modal" data-target="#auxiliaryModal">
                                <i class="text-danger small">Insira um email</i>
                            </a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="text-left"> Endereço: </th>
                    <td class="text-left">
                        <span ng-hide="false">
                            Rua 26, quadra 119, lote 21, Jardim Aureny 3, Palmas, Tocantins
                        </span>
                        <span ng-hide="true">
                            <a href data-toggle="modal" data-target="#auxiliaryModal">
                                <i class="text-danger small">Insira um endereço</i>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>