
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" ng-hide="x._id">Inserir</h4>
                <h4 class="modal-title" id="myModalLabel" ng-show="x._id">Alterar</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <ul class="list-unstyled">
                            <li class="col-md-3">
                                Código:
                                <input type="text" inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+"
                                    ng-readonly="detail" ng-model="x.codigo" class="form-control"
                                    placeholder="ex: 01..09..10">
                            </li>
                            <li class="col-md-3">
                                Prazo oficial:
                                <input type="text" inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+"
                                    ng-readonly="detail" ng-model="x.prazo.original" class="form-control"
                                    placeholder="ano">
                            </li>
                            <li class="col-md-3">
                                Prazo extra-oficial:
                                <input type="text" inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+"
                                    ng-readonly="detail" ng-model="x.prazo.alternativo" class="form-control"
                                    placeholder="ano">
                            </li>
                            <!-- <li class="col-md-9">
                            Coordenador:
                            <select id="coordinator" ng-model="coordinatorSelected" ng-options="i.name for i in coordinatorList" class="form-control"></select>
                        </li> -->
                            <li class="col-md-12">
                                Descrição da meta:
                                <textarea rows="6" ng-disabled="detail" ng-model="x.descricao" class="form-control"
                                    placeholder=""></textarea>
                            </li>
                            <li class="col-md-12">
                                Observações:
                                <textarea rows="6" ng-disabled="detail" ng-model="x.observacao" class="form-control"
                                    placeholder="Relato sintético (opcional)"></textarea>
                            </li>

                        </ul>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default"ng-hide="x._id">Limpar</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createItem(x)"
                        ng-hide="x._id">Salvar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateItem(x)"
                        ng-show="x._id">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>