<div id="alerta"></div>

<br><br>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
            <div class="row">
                <div class="col-xs-8">
                    <i class="fa fa-bullseye"></i>
                    Meta {{item.codigo}}
                </div>
            </div>
        </h4>
    </div>

    <div class="panel-body ips-font-monospace" ng-if="!item">
        <span>Sem informações da meta</span>
    </div>

    <div class="panel-body" ng-if="item">
        <div class="row">
            <div class="col-xs-12 col-lg-6 text-justify">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <span class=""><i class="fa fa-info"></i> Informações</span>
                    </div>

                    <div class="panel-body ips-font-monospace">
                        <p>
                            <span><b>Descrição:</b> <br>{{item.descricao}} </span>
                            <br>
                            <span><b>Id:</b> <br>{{item._id}} </span>
                            <br>
                            <span><b>Prazo oficial:</b> <br>{{item.prazo.oficial | date: "dd/MM/yyyy"}} </span>
                            <br>
                            <span><b>Prazo extra-oficial:</b> <br>{{item.prazo.extraOficial | date: "dd/MM/yyyy"}} </span>
                            <br>
                            <span><b>Observações:</b> <br>{{item.observacao}} </span>
                        </p>
                        <hr>
                        <div class="text-right">
                            <button class="btn btn-xs btn-default" ng-click="editItem(item)" data-toggle="modal"
                                data-target="#metaModal">
                                <i class="fa fa-edit"></i> Editar
                            </button>
                            <button class="btn btn-xs btn-danger" ng-click="deleteItem('meta', item)">
                                <i class="fa fa-trash-alt"></i> Excluir
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <span class=""><i class="fas fa-business-time"></i> Indicadores</span>
                            </div>
                            <div class="col-xs-6 text-right">
                                <a class="btn btn-xs btn-primary" role="button" data-toggle="modal"
                                    data-target="#indicadorModal" ng-click="x=null">
                                    <i class="fa fa-plus"></i>
                                    Inserir um indicador
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body ips-font-monospace"
                        ng-if="indicadorList == null || indicadorList.length == 0">
                        <span>Nenhum indicador inserido</span>
                    </div>

                    <div class="panel-body ips-font-monospace" ng-if="indicadorList.length > 0">

                        <div class="panel-group" id="accordionIndicador" role="tablist" aria-multiselectable="true">

                            <!-- <div class="panel panel-default"
                                    ng-repeat="c in item.candidateList | filter: filtro track by $index"> -->
                            <div class="panel panel-default" ng-repeat="i in indicadorList track by $index"
                            ng-click="profileItem('indicador', i, $index)">
                                <div class="panel-heading" role="tab" id="headingTree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordionIndicador" data-target="#item{{i._id}}"
                                            aria-expanded="false" aria-controls="collapseTree">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <i class="fa fa-angle-double-right"></i>
                                                    Indicador {{item.codigo + "" + i.codigo}}
                                                </div>
                                                <div class="col-xs-4 text-right small">
                                                    {{i.situacao}}
                                                </div>
                                            </div>
                                        </a>
                                    </h4>
                                </div>
                                <div id="item{{i._id}}" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingTree">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12 text-justify">
                                                <p>
                                                    <b>Id............:</b> {{i._id}} <br>
                                                    <b>Código........:</b> {{i.codigo}} <br>
                                                    <b>Descrição.....:</b> {{i.descricao}} <br>
                                                    <b>Prazo.........:</b> {{i.prazo}} <br>
                                                    <b>Situação......:</b> {{i.situacao}} <br>
                                                    <b>Foi alcançado.:</b> {{(i.foiAlcancado)? "Sim" : "Não"}}
                                                </p>
                                                <hr>
                                                <div class="text-right">
                                                    <button class="btn btn-xs btn-default" ng-click="editItem(i)"
                                                        data-toggle="modal" data-target="#indicadorModal">
                                                        <i class="fa fa-edit"></i> Editar
                                                    </button>
                                                    <button class="btn btn-xs btn-danger" ng-click="deleteItem('indicador', i)">
                                                        <i class="fa fa-trash-alt"></i> Excluir
                                                    </button>
                                                </div>
                                            </div> <!-- ./col -->
                                        </div> <!-- ./row -->
                                    </div> <!-- ./panel-body -->
                                </div> <!-- ./panel-collapse -->
                            </div> <!-- ./panel -->
                        </div> <!-- ./panel-group -->
                    </div> <!-- ./panel-body -->
                </div> <!-- ./panel -->
            </div> <!-- ./col -->
            <div class="col-xs-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <span class=""><i class="fas fa-business-time"></i> Estratégias</span>
                            </div>
                            <div class="col-xs-6 text-right">
                                <a class="btn btn-xs btn-primary" role="button" data-toggle="modal"
                                    data-target="#estrategiaModal" ng-click="x=null">
                                    <i class="fa fa-plus"></i>
                                    Inserir uma estratégia
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body ips-font-monospace"
                        ng-if="estrategiaList == null || estrategiaList.length == 0">
                        <span>Nenhuma estratégia encontrada</span>
                    </div>

                    <div class="panel-body ips-font-monospace" ng-if="estrategiaList.length > 0">

                        <div class="panel-group" id="accordionEstrategia" role="tablist" aria-multiselectable="true">

                            <!-- <div class="panel panel-default"
                                    ng-repeat="c in item.candidateList | filter: filtro track by $index"> -->
                            <div class="panel panel-default" ng-repeat="e in estrategiaList track by $index">
                                <div class="panel-heading" role="tab" id="headingTree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordionEstrategia" data-target="#item{{e._id}}"
                                            aria-expanded="false" aria-controls="collapseTree">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <i class="fa fa-angle-double-right"></i>
                                                    Estrategia {{item.codigo}}.{{e.codigo}}
                                                </div>
                                                <div class="col-xs-4 text-right small">
                                                    {{e.prazo | date: "dd/MM/yyyy"}}
                                                </div>
                                            </div>
                                        </a>
                                    </h4>
                                </div>
                                <div id="item{{e._id}}" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingTree">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-7 text-justify">
                                                <p>
                                                    <b>Id...................:</b> {{e._id}} <br>
                                                    <b>Código..............:</b> {{e.codigo} <br>
                                                    <b>Descrição...............:</b> {{e.descricao}} <br>
                                                    <b>Prazo...:</b> {{e.prazo}} <br>
                                                    <b>Previsão orçamentária.:</b> {{e.prevOrcamentaria}} <br>
                                                    <b>Observação.....:</b> {{e.observacao}}
                                                </p>
                                                <hr>
                                                <div class="text-right">
                                                    <button class="btn btn-xs btn-default" ng-click="editItem(e)"
                                                        data-toggle="modal" data-target="#estrategiaModal">
                                                        <i class="fa fa-edit"></i> Editar
                                                    </button>
                                                    <button class="btn btn-xs btn-danger" ng-click="deleteItem('estrategia', e)">
                                                        <i class="fa fa-trash-alt"></i> Excluir
                                                    </button>
                                                </div>
                                            </div> <!-- ./col -->
                                        </div> <!-- ./row -->
                                    </div> <!-- ./panel-body -->
                                </div> <!-- ./panel-collapse -->
                            </div> <!-- ./panel -->
                        </div> <!-- ./panel-group -->
                    </div> <!-- ./panel-body -->
                </div> <!-- ./panel -->
            </div> <!-- ./col -->
        </div> <!-- ./row -->
    </div> <!-- ./panel-body -->
</div> <!-- ./panel -->

<!-- metaModal -->
<div class="modal fade" id="metaModal" tabindex="-1" role="dialog" aria-labelledby="metaModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="metaModalLabel" ng-hide="x._id">Inserir</h4>
                <h4 class="modal-title" id="metaModalLabel" ng-show="x._id">Alterar</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <ul class="list-unstyled">
                            <li class="col-md-4">
                                Código:
                                <input type="text" inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+"
                                    ng-readonly="detail" ng-model="x.codigo" class="form-control"
                                    placeholder="ex: 01..09..10">
                            </li>
                            <li class="col-md-12">
                                Descrição:
                                <textarea rows="6" ng-disabled="detail" ng-model="x.descricao" class="form-control"
                                    placeholder=""></textarea>
                            </li>
                            <li class="col-md-6">
                                Prazo oficial:
                                <input type="date" ng-model="x.prazo.oficial" class="form-control"
                                    placeholder="ano">
                            </li>
                            <li class="col-md-6">
                                Prazo extra-oficial:
                                <input type="date" ng-model="x.prazo.extraOficial" class="form-control"
                                    placeholder="ano">
                            </li>
                            <li class="col-md-12">
                                Observações:
                                <textarea rows="6" ng-disabled="detail" ng-model="x.observacao" class="form-control"
                                    placeholder="Relato sintético (opcional)"></textarea>
                            </li>

                        </ul>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" ng-hide="x._id">Limpar</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createItem('meta', x)"
                        ng-hide="x._id">Salvar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateItem('meta', x)"
                        ng-show="x._id">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- indicadorModal -->
<div class="modal fade" id="indicadorModal" tabindex="-1" role="dialog" aria-labelledby="indicadorModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="indicadorModalLabel" ng-hide="x._id">Inserir</h4>
                <h4 class="modal-title" id="indicadorModalLabel" ng-show="x._id">Alterar</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <ul class="list-unstyled">
                            <li class="col-xs-6 col-md-4">
                                Código:
                                <div class="input-group">
                                    <span class="input-group-addon">{{item.codigo}}</span>
                                    <input type="text" ng-model="x.codigo" class="form-control" placeholder="ex: a..b..c...">
                                </div>
                            </li>
                            <li class="col-md-12">
                                Descrição:
                                <textarea rows="6" ng-model="x.descricao" class="form-control"
                                    placeholder=""></textarea>
                            </li>
                            <li class="col-xs-6 col-md-4">
                                Prazo:
                                <input type="date" ng-model="x.prazo" class="form-control" placeholder="">
                            </li>
                            <li class="col-xs-6 col-md-4">
                                Situação:
                                <select id="situacao" ng-model="x.situacao" ng-options="o for o in situacaoEnum track by o"
                                    class="form-control"></select>
                            </li>
                            <li class="col-md-12">
                                Observações:
                                <textarea rows="6" ng-model="x.observacao" class="form-control"
                                    placeholder=""></textarea>
                            </li>

                        </ul>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" ng-hide="x._id">Limpar</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createItem('indicador', x)"
                        ng-hide="x._id">Salvar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateItem('indicador', x)"
                        ng-show="x._id">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- estrategiaModal -->
<div class="modal fade" id="estrategiaModal" tabindex="-1" role="dialog" aria-labelledby="estrategiaModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="estrategiaModalLabel" ng-hide="x._id">Inserir</h4>
                <h4 class="modal-title" id="estrategiaModalLabel" ng-show="x._id">Alterar</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <ul class="list-unstyled">
                            <li class="col-xs-6 col-md-4">
                                Código:
                                <div class="input-group">
                                    <span class="input-group-addon">{{item.codigo}}</span>
                                    <input type="text" inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+"
                                        ng-model="x.codigo" class="form-control" placeholder="ex: 01..02..10...">
                                </div>
                            </li>
                            <li class="col-xs-6 col-md-4">
                            </li>
                            <li class="col-xs-6 col-md-4">
                                Status:
                                <select id="status" ng-model="x.status" ng-options="o for o in statusEnum track by o"
                                    class="form-control"></select>
                            </li>
                            <li class="col-md-12">
                                Descrição:
                                <textarea rows="6" ng-model="x.descricao" class="form-control"
                                    placeholder=""></textarea>
                            </li>
                            <li class="col-xs-6 col-md-4">
                                Previsão orçamentária:
                                <input type="text" ng-model="x.prevOrcamentaria" class="form-control"
                                    inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+" placeholder="">
                            </li>
                            <li class="col-xs-6 col-md-4">
                                Prazo:
                                <input type="date" ng-model="x.prazo" class="form-control" placeholder="">
                            </li>
                            <li class="col-md-12">
                                Observações:
                                <textarea rows="6" ng-model="x.observacao" class="form-control"
                                    placeholder=""></textarea>
                            </li>

                        </ul>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" ng-hide="x._id">Limpar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createItem('estrategia', x)"
                        ng-hide="x._id">Salvar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateItem('estrategia', x)"
                        ng-show="x._id">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>




<!-- ================================================================== -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" ng-hide="x._id">Inserir</h4>
                <h4 class="modal-title" id="myModalLabel" ng-show="x._id">Alterar</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <ul class="list-unstyled">
                        <li class="col-xs-12 text-uppercase">
                            Dados pessoais <br><br>
                        </li>
                        <li class="col-xs-12">
                            Nome:
                            <input type="text" ng-readonly="false" ng-model="x.name" class="form-control"
                                placeholder="Digite seu nome completo">
                        </li>
                        <li class="col-xs-6">
                            CPF:
                            <input type="text" ng-model="x.cpf" class="form-control" placeholder="">
                        </li>
                        <li class="col-xs-6">
                            Data de nascimento:
                            <input type="date" ng-model="x.birthday" class="form-control" placeholder="">
                        </li>
                        <li class="col-xs-6">
                            RG:
                            <input type="text" ng-model="x.rg.number" class="form-control" placeholder="">
                        </li>
                        <li class="col-xs-6">
                            Data de expedição:
                            <input type="date" ng-model="x.rg.expeditionDate" class="form-control" placeholder="">
                        </li>
                        <li class="col-xs-4">
                            Órgão expedidor:
                            <input type="text" ng-model="x.rg.dispatcherAgency" class="form-control" placeholder="">
                        </li>
                        <li class="col-xs-2">
                            UF:
                            <select id="uf" ng-model="ufRgSelected" ng-options="i for i in ufEnum"
                                class="form-control"></select>
                        </li>


                        <li class="col-xs-12 text-uppercase">
                            <hr>
                            Dados de contato <br><br>
                        </li>
                        <li class="col-xs-12">
                            E-mail:
                            <input type="email" ng-disabled="detail" ng-change="x.email = x.email.toLowerCase()"
                                ng-model="x.email" class="form-control" />
                        </li>
                        <li class="col-xs-6">
                            Telefone:
                            <input type="tel" ng-disabled="detail" ng-model="x.phone" class="form-control">
                        </li>
                        <li class="col-xs-6">
                            Tipo:
                            <select id="typePhone" ng-model="typePhoneSelected" ng-options="i for i in typePhoneEnum"
                                class="form-control"></select>
                        </li>


                        <li class="col-xs-12 text-uppercase">
                            <hr>
                            Endereço <br><br>
                        </li>
                        <li class="col-xs-10">
                            Logradouro:
                            <input type="text" ng-disabled="detail" ng-model="x.address.place" class="form-control">
                        </li>
                        <li class="col-xs-2">
                            Numero:
                            <input type="text" ng-disabled="detail" ng-model="x.address.number" class="form-control">
                        </li>
                        <li class="col-xs-6">
                            Bairro:
                            <input type="text" ng-disabled="detail" ng-model="x.address.district" class="form-control">
                        </li>
                        <li class="col-xs-4">
                            Cidade:
                            <input type="text" ng-disabled="detail" ng-model="x.address.city" class="form-control">
                        </li>
                        <li class="col-xs-2">
                            UF:
                            <select id="uf" ng-model="ufAddressSelected" ng-options="i for i in ufEnum"
                                class="form-control"></select>
                        </li>
                        <li class="col-xs-12">
                            Complemento:
                            <input type="text" ng-disabled="detail" ng-model="x.address.complement"
                                class="form-control">
                        </li>


                        <li class="col-xs-12 text-uppercase">
                            <hr>
                            Dados de login <br><br>
                        </li>
                        <li class="col-xs-6">
                            Senha:
                            <input type="password" ng-readonly="false" ng-model="x.password" class="form-control"
                                placeholder="">
                        </li>
                        <li class="col-xs-6">
                            Repetir senha:
                            <input type="password" ng-readonly="false" ng-model="x.password" class="form-control"
                                placeholder="">
                        </li>
                        <li class="col-xs-12 text-uppercase">
                            <hr>
                        </li>
                        <li class="col-xs-12">
                            Descrição:
                            <textarea rows="6" ng-disabled="detail" ng-model="x.description"
                                class="form-control"></textarea>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-default" ng-hide="x._id">Limpar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createItem(x)"
                    ng-hide="x._id">Salvar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateItem(x)"
                    ng-show="x._id">Atualizar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="proExpModal" tabindex="-1" role="dialog" aria-labelledby="proExpModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" ng-hide="pe._id">Inserir</h4>
                <h4 class="modal-title" id="myModalLabel" ng-show="pe._id">Alterar</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <ul class="list-unstyled">
                        <li class="col-xs-12">
                            Nome da Empresa:
                            <input type="text" ng-model="pe.companyName" class="form-control" placeholder="">
                        </li>
                        <li class="col-xs-6">
                            Função:
                            <input type="text" ng-model="pe.office" class="form-control" placeholder="">
                        </li>
                        <li class="col-xs-6">
                            Forma de contrato:
                            <select id="uf" ng-model="contractFormSelected" ng-options="i for i in contractFormEnum"
                                class="form-control"></select>
                        </li>
                        <li class="col-xs-6">
                            Data de admissão:
                            <input type="date" ng-model="pe.startDate" class="form-control" placeholder="">
                        </li>
                        <li class="col-xs-6">
                            Data de saída:
                            <input type="date" ng-model="pe.endDate" class="form-control" placeholder="">
                        </li>
                        <li class="col-xs-12">
                            Tarefas executadas:
                            <textarea rows="6" ng-model="pe.taskPerformed" class="form-control"></textarea>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-default" ng-hide="pe._id">Limpar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createProExp(pe, item._id)"
                    ng-hide="pe._id">Salvar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateProExp(pe)"
                    ng-show="pe._id">Atualizar</button>
            </div>
        </div>
    </div>
</div>