<!-- indicatorModal -->
<div class="modal fade" id="indicatorModal" tabindex="-1" role="dialog" aria-labelledby="indicatorModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div class="col-md-8">
                    <h4 class="modal-title" id="indicatorModalLabel">
                        <span ng-if="!x._id">Inserir</span>
                        <span ng-if="x._id">Alterar</span>
                    </h4>
                </div>

                <div class="col-md-4 input-group">
                    <span class="input-group-addon">
                        Status:
                    </span>
                    <select id="status" ng-model="x.status" ng-options="o for o in statusEnum track by o"
                        class="form-control"></select>
                </div>

            </div>
            <form id="form-indicator-modal">
                <div class="modal-body">
                    <div class="row">
                        <ul class="list-unstyled">
                            <li class="col-md-3">
                                Código/Ordem:
                                <input ng-model="x.orderCode" class="form-control">
                            </li>
                            <li class="col-md-3">
                                Peso:
                                <input ng-model="x.weight" class="form-control">
                            </li>
                            <li class="col-md-3">
                                Dimensão:
                                <select ng-model="x._dimension"
                                    ng-options="'Dimensão '+o.orderCode for o in dimensionList track by o._id"
                                    class="form-control"></select>
                            </li>
                            <li class="col-md-3">
                                Instrumentos:
                                <a role="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#instrumentListModal">Selecionar</a>
                            </li>

                            <li class="col-md-12">
                                <div class="panel-body" ng-if="x._instrument.length <= 0">
                                    <span class="list-group-item text-center">
                                        Nenhum instrumento selecionado!
                                    </span>
                                </div>
                                <div class="panel-body" ng-if="x._instrument.length > 0">
                                <!-- <div class="panel-body"> -->
                                    <div class="list-group">
                                        <!-- <span class="list-group-item" ng-repeat="i in memberList track by $index"> -->
                                        <span class="list-group-item"
                                            ng-repeat="i in x._instrument track by $index">
                                            <i class="fa fa-angle-double-right"></i> {{ i.act }}
                                            <span class="pull-right text-muted"><a href
                                                    ng-click="removeInstrument($index)">
                                                    <i class="fa fa-trash fa-fw"></i></a>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </li>

                            <li class="col-md-12">
                                Descrição:
                                <textarea rows="6" ng-model="x.description" class="form-control"
                                    placeholder=""></textarea>
                            </li>
                            <li class="col-md-12">
                                Observações:
                                <textarea rows="6" ng-model="x.observation" class="form-control"
                                    placeholder=""></textarea>
                            </li>

                        </ul>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" ng-hide="x._id">Limpar</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="createItem(x)"
                        ng-if="!x._id">Salvar</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="updateItem(x)"
                        ng-if="x._id">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>