<div class="panel panel-default">

    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <span class=""><i class="fas fa-business-time"></i> Ações</span>
            </div>
            <div class="col-xs-6 text-right">
                <a class="btn btn-xs btn-primary" role="button" data-toggle="modal" data-target="#acaoModal"
                    ng-click="editItem({'_meta': meta, '_estrategia': estrategia})">
                    <i class="fa fa-plus"></i>
                    Inserir uma ação
                </a>
            </div>
        </div>
    </div>

    <div class="panel-body ips-font-monospace" ng-if="acaoList == null || acaoList.length == 0">
        <span>Nenhuma ação encontrada</span>
    </div>

    <div class="panel-body ips-font-monospace" ng-if="acaoList.length > 0">

        <div class="panel-group" id="accordionAcao" role="tablist" aria-multiselectable="true">

            <!--* ng-repeat -->
            <div class="panel panel-default" ng-repeat="e in item._acao track by $index"
                ng-click="profileItem('acao', e, $index)">

                <div class="panel-heading" role="tab" id="headingTree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionAcao"
                            data-target="#item{{e._id}}" aria-expanded="false" aria-controls="collapseTree">
                            <div class="row">
                                <div class="col-xs-8">
                                    <i class="fa fa-angle-double-right"></i>
                                    Ação {{item._meta.codigo}}.{{item.codigo}}.{{e.codigo}}
                                </div>
                                <div class="col-xs-4 text-right small">
                                    {{e.prazo | date: "dd/MM/yyyy"}}
                                </div>
                            </div>
                        </a>
                    </h4>
                </div>
                <div id="item{{e._id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTree">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-7 text-justify">
                                <p>
                                    <b>Id:</b> {{e._id}} <br>
                                    <b>Código:</b> {{e.codigo}} <br>
                                    <b>Descrição:</b> {{e.descricao}} <br>
                                    <b>Prazo:</b> {{e.prazo}} <br>
                                    <b>Previsão orçamentária:</b> {{e.prevOrcamentaria}} <br>
                                    <b>Observação:</b> {{e.observacao}}
                                </p>
                                <hr>
                                <div class="text-right">
                                    <button class="btn btn-xs btn-default" ng-click="editItem(e)" data-toggle="modal"
                                        data-target="#acaoModal">
                                        <i class="fa fa-edit"></i> Editar
                                    </button>
                                    <button class="btn btn-xs btn-danger" ng-click="deleteItem('acao', e)">
                                        <i class="fa fa-trash-alt"></i> Excluir
                                    </button>
                                </div>
                            </div> <!-- ./col -->
                        </div> <!-- ./row -->
                    </div> <!-- ./panel-body -->
                </div> <!-- ./panel-collapse -->
            </div> <!-- ./panel -->
        </div> <!-- ./panel-group -->
    </div> <!-- ./panel-body -->
</div> <!-- ./panel -->