<div class="panel panel-default">
    <div class="panel-heading">
        <span class=""><i class="fa fa-info"></i> Informações</span>
    </div>
    <div class="panel-body ips-font-monospace">
        <b>Id:</b> <br> {{item._id}}
        <br>
        <b>Descrição:</b> <br> {{item.descricao}}
        <br>
        <b>Código:</b> <br> {{item.codigo}}
        <br>
        <b>Prazo:</b> <br> {{item.prazo | date: 'dd/MM/yyyy'}}
        <br>
        <b>Previsão orçamentária:</b> <br> {{item.prevOrcamentaria }}
        <br>
        <b>Status:</b> <br> {{item.status }}
        <br>
        <b>Observações:</b> <br> {{item.observacao}}
        <hr>
        <div class="text-right">
            <button class="btn btn-xs btn-default" ng-click="editItem(item)" data-toggle="modal"
                data-target="#estrategiaModal">
                <i class="fa fa-edit"></i> Editar
            </button>
            <!-- <button class="btn btn-xs btn-danger" ng-click="deleteItem('estrategia', item)">
                <i class="fa fa-trash-alt"></i> Excluir
            </button> -->
        </div>
        <div ng-if="!isProfile">
            <br>
            <!-- <a ui-sref="metaProfile({param1:item})" class="btn btn-default btn-block"> -->
            <a href="/app/meta/{{item._meta.codigo}}/estrategia/{{item.codigo}}"
                class="btn btn-default btn-block">
                Ver mais sobre esta estratégia
            </a>
        </div>
    </div>
</div>