
<!-- estrategiaModal -->
<div class="modal fade" id="estrategiaModal" tabindex="-1" role="dialog" aria-labelledby="estrategiaModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="estrategiaModalLabel" ng-hide="x._id">Inserir</h4>
                <h4 class="modal-title" id="estrategiaModalLabel" ng-show="x._id">Alterar</h4>
            </div>
            <form id="form-estrategia-modal">
                <div class="modal-body">
                    <div class="row">
                        <ul class="list-unstyled">
                            <li class="col-xs-6 col-md-4">
                                Código:
                                <div class="input-group">
                                    <span class="input-group-addon">{{item.codigo}}.</span>
                                    <input type="text" inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+"
                                        ng-model="x.codigo" class="form-control" placeholder="ex: 01..02..10...">
                                </div>
                            </li>
                            <li class="col-xs-6 col-md-4">
                            </li>
                            <li class="col-xs-6 col-md-4">
                                Status:
                                <select id="status" ng-model="x.status" ng-options="o for o in statusEnum track by o"
                                    class="form-control"></select>
                            </li>
                            <li class="col-md-12">
                                Descrição:
                                <textarea rows="6" ng-model="x.descricao" class="form-control"
                                    placeholder=""></textarea>
                            </li>
                            <li class="col-xs-6 col-md-4">
                                Previsão orçamentária:
                                <input type="text" ng-model="x.prevOrcamentaria" class="form-control"
                                    inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+" placeholder="">
                            </li>
                            <li class="col-xs-6 col-md-4">
                                Prazo:
                                <input type="date" ng-model="x.prazo" class="form-control" placeholder="">
                            </li>
                            <li class="col-md-12">
                                Observações:
                                <textarea rows="6" ng-model="x.observacao" class="form-control"
                                    placeholder=""></textarea>
                            </li>

                        </ul>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" ng-hide="x._id">Limpar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="createItem('estrategia', x)"
                        ng-if="!x._id">Salvar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateItem('estrategia', x)"
                        ng-if="x._id">Atualizar</button>
                </div>
            </form id="form-dimension-modal">
        </div>
    </div>
</div>
