<div class="container">
    <div class="col-xs-12">
        <div id="alerta"></div>

        <!-- * TÍTULO DA PÁGINA -->
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>
                    Instrumento de avaliação <br> (Verificação <i>in loco</i>)
                    <br>
                    Modalidade: {{ item.modality }}
                    <br>
                    Ato: {{ item.act }}
                    <br>
                    Nota: {{ item.score }}
                </h2>
            </div>
        </div>

        <div class="row">

            <!--* painel-dimension -->
            <div class="col-xs-12 text-justify">
                <div ui-view="body"></div>
            </div>

            <!--* BUTTON [Concluir] -->
            <div class="col-xs-12 text-right">
                <button class="btn btn-primary" ng-click="calcEvaluation(item)">Concluir esta Avaliação</button>
            </div>
        </div>
    </div>

    <div ui-view="modal"></div>
    <div ui-view="modal-critery"></div>

</div>

<ul>
    <li class="bg-{{isDone(d)}}" ng-repeat="d in item._dimension">
        {{ d.title }} - {{ d._id }}
        <ul>
            <li class="bg-{{isDone(i)}}" ng-repeat="i in d._indicator">
                {{ i._id }} - {{ i._dimension._id }}
                <ul>
                    <li class="bg-{{isDone(c)}}" ng-repeat="c in i._critery">
                        {{ c._id }} - {{ c._indicator._id }}
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>