<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="text-center" ng-show="isLoadingItem">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>

    <!-- * TABELA -->
    <div class="panel panel-default" ng-show="!isLoadingItem">
        <table class="table table-striped table-bordered">
            <thead class="text-center">
                <tr>
                    <th>Código</th>
                    <th>Peso</th>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Indicadores</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itemList | filter: filtro track by $index">
                    <td class="text-center"> {{item.orderCode}} </td>
                    <td class="text-center"> {{item.weight}} </td>
                    <td class="text-center"> {{item.title}} </td>
                    <td class="text-justify"> {{item.description}} </td>
                    <td class="text-center"> {{item._indicator.length}} </td>
                    <td class="text-center">
                        <a href="#" title="Editar" data-toggle="modal" data-target="#dimensionModal"
                            ng-click="editItem($index, item)"><i class="fas fa-edit"></i></a><br>
                        <a href="#" title="Excluir" ng-click="deleteItem($index)"><i
                                class="fas fa-trash text-danger"></i></a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6"></td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>