<div id="alerta"></div>

<div class="row hidden-print">
    <div class="col-xs-12">
        <h2 class><i class="fa fa-bullseye"></i> Dimensões</h2>
    </div>
</div>

<div class="row hidden-print">
    <div class=" col-sm-6 col-xs-12">
        <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#dimensionModal" ng-click="editItem({})">
            <i class="fa fa-plus"></i>
            Criar novo
        </button>
        <br><br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-filter"></i></span>
            <input class="form-control" type="text" ng-model="filtro" placeholder="Filtrar">
        </div>
    </div>
</div>