
<!-- dimensionModal -->
<div class="modal fade" id="dimensionModal" tabindex="-1" role="dialog" aria-labelledby="dimensionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div class="col-md-8">
                    <h4 class="modal-title" id="dimensionModalLabel">
                        <span>Dimensão {{ (x._id) ? x.orderCode : 'X' }}</span>
                    </h4>
                </div>

                <div class="col-md-4 input-group">
                    <span class="input-group-addon">
                        Status:
                    </span>
                    <select id="status" ng-model="x.status" ng-options="o for o in statusEnum track by o"
                        class="form-control"></select>
                </div>
            </div>
            
            <form id="form-dimension-modal">
                <div class="modal-body">
                    <div class="row">
                        <ul class="list-unstyled">
                            <li class="col-md-3">
                                Código:
                                <input type="text" ng-model="x.orderCode" class="form-control">
                            </li>
                            <li class="col-md-3">
                                Peso:
                                <input type="text" ng-model="x.weight" class="form-control">
                            </li>
                            <li class="col-md-6">
                                Título:
                                <input type="text" ng-model="x.title" class="form-control">
                            </li>
                            <li class="col-md-12">
                                Descrição:
                                <textarea rows="6" ng-model="x.description" class="form-control"
                                    placeholder=""></textarea>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" ng-hide="x._id">Limpar</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="createItem(x)"
                        ng-if="!x._id">Salvar</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="updateItem(x)"
                        ng-if="x._id">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>