<div class="panel panel-default">

    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <span class=""><i class="fas fa-business-time"></i> Estratégias</span>
            </div>
            <div class="col-xs-6 text-right">
                <a class="btn btn-xs btn-primary" role="button" data-toggle="modal" data-target="#estrategiaModal"
                    ng-click="editItem({'_dimension': item})">
                    <i class="fa fa-plus"></i>
                    Inserir uma estratégia
                </a>
            </div>
        </div>
    </div>

    <div class="panel-body ips-font-monospace" ng-if="estrategiaList == null || estrategiaList.length == 0">
        <span>Nenhuma estratégia encontrada</span>
    </div>

    <div class="panel-body ips-font-monospace" ng-if="estrategiaList.length > 0">

        <div class="panel-group" id="accordionEstrategia" role="tablist" aria-multiselectable="true">

            <!--* ng-repeat -->
            <div class="panel panel-default" ng-repeat="e in estrategiaList track by $index"
                ng-click="profileItem('estrategia', e, $index)">

                <div class="panel-heading" role="tab" id="headingTree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionEstrategia"
                            data-target="#item{{e._id}}" aria-expanded="false" aria-controls="collapseTree">
                            <div class="row">
                                <div class="col-xs-8">
                                    <i class="fa fa-angle-double-right"></i>
                                    Estrategia {{item.codigo}}.{{e.codigo}}
                                </div>
                                <div class="col-xs-4 text-right small">
                                    {{e.prazo | date: "dd/MM/yyyy"}}
                                </div>
                            </div>
                        </a>
                    </h4>
                </div>
                <div id="item{{e._id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTree">
                    <div class="panel-body">
                        <div class="row text-justify">
                            <div class="col-xs-12 text-justify">
                                <div class="row">
                                    <span  class="col-xs-12 col-md-6"><b>Id:</b> <br> {{e._id}}</span>
                                    <span  class="col-xs-12 col-md-6"><b>Código:</b> <br> {{e.codigo}} </span>
                                    <span  class="col-xs-12 col-md-12"><b>Descrição:</b> <br> {{e.descricao}}</span>
                                    <span  class="col-xs-12 col-md-4"><b>Prazo:</b> <br> {{e.prazo | date: 'dd/MM/yyyy'}}</span>
                                    <span  class="col-xs-12 col-md-8"><b>Previsão orçamentária:</b> <br> {{e.prevOrcamentaria}}</span>
                                    <span  class="col-xs-12 col-md-6"><b>Observação:</b> <br> {{e.observacao}}</span>
                                </div>
                                <hr>
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-xs btn-default" ng-click="editItem(e)" data-toggle="modal"
                                        data-target="#estrategiaModal">
                                        <i class="fa fa-edit"></i> Editar
                                    </button>
                                    <!-- <button class="btn btn-xs btn-danger" ng-click="deleteItem('estrategia', e)">
                                        <i class="fa fa-trash-alt"></i> Excluir
                                    </button> -->
                                </div>
                            </div> <!-- ./col -->
                        </div> <!-- ./row -->
                    </div> <!-- ./panel-body -->
                </div> <!-- ./panel-collapse -->
            </div> <!-- ./panel -->
        </div> <!-- ./panel-group -->
    </div> <!-- ./panel-body -->
</div> <!-- ./panel -->