<div class="panel panel-default">

    <div class="panel-heading">
        <span>Hierarquia de contextos</span>
    </div>
    <div class="panel-body ips-font-monospace" style="min-width: 300px;">
        <ul class="ips-list">
            <li class="list-group-item" style="background-color: cadetblue;">
                <b>Sistema</b>
                <ul class="ips-list">
                    <li class="list-group-item" style="background-color: rgb(221, 150, 99);">
                        <b>Geral</b>
                        <ul class="ips-list">
                            <li class="list-group-item" style="background-color: rgb(118, 116, 240);">
                                <b>Metas</b>
                                <ul class="ips-list">
                                    <li class="list-group-item" style="background-color: rgb(146, 196, 10);">
                                        <b>Estratégias</b>
                                        <ul class="ips-list">
                                            <li class="list-group-item" style="background-color: rgb(69, 178, 182);">
                                                <b>Ações</b>
                                                <ul class="ips-list">
                                                    <li class="list-group-item"
                                                        style="background-color: rgb(91, 129, 199);">
                                                        <b>Mínimo</b>
                                                    </li>
                                                </ul class="ips-list">
                                            </li>
                                        </ul class="ips-list">
                                    </li>
                                </ul class="ips-list">
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div> <!-- ./panel-body -->
</div> <!-- ./panel -->