<div class="panel panel-default">

    <div class="panel-heading">
        <span class=""><i class="fa fa-lock"></i> Regras de Acesso</span>
    </div>

    <div class="panel-body ips-font-monospace">

        <b>Nível de acesso:</b><br>
        {{ item.name }} <br>
        <b>Visibilidade (contexto):</b><br>
        {{ item.visibility }} <br><br>

        <table class="table table-bordered table-striped table-hover">
            <label>REGRAS DE PERMISSÃO DE ACESSO AOS MÓDULOS</label>

            <thead>
                <tr>
                    <th>Módulos</th>
                    <th class="text-center">C</th>
                    <th class="text-center">R</th>
                    <th class="text-center">U</th>
                    <th class="text-center">D</th>
                    <!-- <th class="text-center">F</th> -->
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="r in item.role">
                    <th>{{ r._modelName }}</th>
                    <td class="text-center">{{ r.create }}</td>
                    <td class="text-center">{{ r.read }}</td>
                    <td class="text-center">{{ r.update }}</td>
                    <td class="text-center">{{ r.delete }}</td>
                </tr>
            </tbody>

        </table>

        <hr>

        <div class="text-right">

            <button class="btn btn-xs btn-default" ng-click="editItem(item)" data-toggle="modal"
                data-target="#settingsModal">
                <i class="fa fa-edit"></i> Editar
            </button>

            <button class="btn btn-xs btn-danger" ng-click="deleteItem(item)">
                <i class="fa fa-trash-alt"></i> Excluir
            </button>

        </div>
    </div>
</div>