<div class="panel panel-default">
    <div class="panel-heading">
        <span class=""><i class="fa fa-info"></i> Informações</span>
    </div>
    <div class="panel-body ips-font-monospace">
        <div class="row">
            <span class="col-xs-12 col-md-12 col-lg-12">
                <b>Descrição:</b> <br> {{item.descricao}}
            </span>
            <span class="col-xs-12 col-md-6 col-lg-6">
                <b>Código:</b> <br> {{item.codigo}}
            </span>
            <span class="col-xs-12 col-md-6 col-lg-6">
                <b>Id:</b> <br> {{item._id}}
            </span>
            <span class="col-xs-12 col-md-6 col-lg-6">
                <b>Prazo:</b> <br> {{item.prazo }}
            </span>
            <span class="col-xs-12 col-md-6 col-lg-6">
                <b>Status:</b> <br> {{item.status }}
            </span>
            <span class="col-xs-12 col-md-6 col-lg-6">
                <b>Previsão orçamentária:</b> <br> {{item.prevOrcamentaria }}
            </span>
            <span class="col-xs-12 col-md-6 col-lg-6">
                <b>Evidências:</b> <br> {{ (!item._evidencia)? 0 : item._evidencia.length }}
            </span>
            <span class="col-xs-12 col-md-12 col-lg-12">
                <b>Observações:</b> <br> {{item.observacao}}
            </span>
        </div>
        <hr>
        <div class="text-right">
            <button class="btn btn-xs btn-default" ng-click="editItem(item)" data-toggle="modal"
                data-target="#acaoModal">
                <i class="fa fa-edit"></i> Editar
            </button>
            <button class="btn btn-xs btn-danger" ng-click="deleteItem('acao', item)">
                <i class="fa fa-trash-alt"></i> Excluir
            </button>
        </div>
        <div ng-if="!isProfile">
            <br>
            <!-- <a ui-sref="app.theme.metaProfile({param1:item})" class="btn btn-default btn-block"> -->
            <a href="/app/meta/{{item._meta.codigo}}/estrategia/{{item._estrategia.codigo}}/acao/{{item.codigo}}"
                class="btn btn-default btn-block">
                Ver mais sobre esta ação
            </a>
        </div>
    </div>
</div>