
#login_titulo_principal{
    font-family: compa;
    font-size: 50pt;
  }

  /* crazy batman newspaper spinny thing */
 .rotate {
  transform:rotate(180deg);
  transition:all 0.5s;
}
.rotate.in {
  transform:rotate(1800deg);
  transition:all 1.5s;
}