<!-- membrosModal -->
<div class="modal fade" id="membrosModal" tabindex="-1" role="dialog" aria-labelledby="membrosModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="membrosModalLabel" ng-if="!x._id">Inserir</h4>
                <h4 class="modal-title" id="membrosModalLabel" ng-if="x._id">Alterar</h4>
            </div>

            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                    <input class="form-control" type="text" ng-model="filtroMembrosModal" placeholder="Filtrar">
                </div>
                <br>
                <div class="list-group">
                    <a href class="list-group-item"
                        ng-repeat="i in usersForMemberList | filter:filtroMembrosModal track by $index"
                        ng-click="inserirMembro(i)">
                        <i class="fa fa-user"></i> {{i.name}}
                    </a>
                </div>
            </div>

            <div class="modal-footer"></div>
            </form>
        </div>
    </div>
</div>