<div id="alerta"></div>
{{teste}}
<div class="row hidden-print">
    <div class="col-xs-12">
        <h2><i class="fa fa-rocket"></i> Estratégias</h2>
    </div>
</div>

<div ng-hide="meta" class="row hidden-print">
    <div class="col-xs-6">
        <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#modalMeta" ng-click="clear()">
            <i class="fa fa-plus fa-fw"></i>
            Selecionar
        </button>
    </div>
    <div class="col-xs-12">
        <h2>Por favor, selecione uma Meta através do botão acima.</h2>
    </div>
</div>

<div ng-show="meta" class="row hidden-print">
    <div class="col-xs-6">
        <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal" ng-click="clear()">
            <i class="fa fa-plus"></i>
            Criar novo
        </button>
        <br><br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-filter"></i></span>
            <input class="form-control" type="text" ng-model="filtro" placeholder="Filtrar">
        </div>
    </div>
</div>
<br>
<div ng-show="meta" id="mudar" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class=""><i class="fa fa-bullseye"></i> Meta {{meta.code}}</span>
        </div>
        <div class="panel-body text-justify">
            <div class="list-group">
                <span class="">
                    {{meta.text}}
                </span>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <br>

    <div class="panel panel-default" ng-repeat="item in itemList | filter: filtro track by $index"
        ng-click="findAction($index)">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <span class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                    data-target="#item{{item._id}}" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="pull-left"><i class="fa fa-rocket"></i> Estratégia {{item.code}}</span>
                            <a ng-hide="item.idFav" ng-click="createFav(item._id)">
                                <span class="pull-right"><i class="far fa-star"></i></span>
                            </a>
                            <a ng-show="item.idFav" ng-click="removeFav(item.idFav)">
                                <span class="pull-right"><i class="fas fa-star"></i></span>
                            </a>
                        </div>
                    </div>
                </span>
            </h4>
        </div>
        <div id="item{{item._id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 text-justify">
                        <b>Texto da estratégia:</b> <br>
                        {{item.text}}
                        <br />
                        <b>Observações:</b> <br>
                        {{item.observation}}
                        <br />
                        <b>Prazo:</b> {{item.term }}
                        <br />
                        <b>Previsão orçamentária:</b> {{item.budgetForecast }}
                        <br />
                        <b>Status:</b> {{item.status }}
                        <br />
                        <b>Execução:</b> {{item.execution }}
                        <br />
                        <button class="btn btn-xs btn-info"><i class="fa fa-info"></i> Detalhes</button>
                        <button class="btn btn-xs btn-default" ng-click="editItem($index)" data-toggle="modal"
                            data-target="#myModal"><i class="fa fa-edit"></i> Editar</button>
                        <button class="btn btn-xs btn-danger" ng-click="deleteItem(item)"><i
                                class="fa fa-trash-alt"></i> Remover</button>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bullhorn fa-fw"></i> <span class="">Ações</span>
                                <a ui-sref="app.theme.acao({param1: meta, param2: item})" class="pull-right">Ver
                                    Mais</a>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body" ng-if="!actionList">
                                <i class="fa fa-spinner fa-pulse"></i>
                            </div>
                            <div class="panel-body" ng-if="actionList">
                                <div class="list-group">
                                    <a href="#" class="list-group-item"
                                        ng-repeat="i in item.actionList track by $index">
                                        <i class="fa fa-comment fa-fw"></i> Ação {{i.code}}
                                        <span class="pull-right text-muted small"><em>{{i.code}}</em></span>
                                    </a>
                                </div>
                                <!-- /.list-group -->
                                <a ui-sref="app.theme.acao({param1: meta, param2: item})"
                                    class="btn btn-default btn-block">Ver Mais</a>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Inserir/alterar</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <ul class="list-unstyled">
                            <li class="col-md-4">
                                Código:
                                <div class="input-group">
                                    <span class="input-group-addon">{{meta.code}}.</span>
                                    <input type="text" inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+"
                                        ng-model="x.code" class="form-control" placeholder="ex: 01..09..10">
                                </div>
                            </li>
                            <li class="col-md-4">
                                Status:
                                <select id="status" ng-model="statusSelected" ng-options="i for i in statusList"
                                    class="form-control"></select>
                            </li>
                            <li class="col-md-12">
                                Texto da estratégia:
                                <textarea rows="6" ng-disabled="detail" ng-model="x.text" class="form-control"
                                    placeholder=""></textarea>
                            </li>
                            <li class="col-md-4">
                                Previsão orçamentária:
                                <input type="text" inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+"
                                    ng-readonly="detail" ng-model="x.budgetForecast" class="form-control"
                                    placeholder="ano">
                            </li>
                            <li class="col-md-4">
                                Prazo:
                                <input type="text" inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+"
                                    ng-readonly="detail" ng-model="x.term" class="form-control" placeholder="ano">
                            </li>
                            <li class="col-md-12">
                                Observações:
                                <textarea rows="6" ng-disabled="detail" ng-model="x.observation" class="form-control"
                                    placeholder=""></textarea>
                            </li>

                        </ul>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default">Limpar</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createItem(x)"
                        ng-hide="x._id">Salvar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateItem(x)"
                        ng-show="x._id">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalMeta" tabindex="-2" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Selecione uma Meta</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <ul class="list-unstyled">
                            <li class="col-md-4">
                                Escolha uma meta:
                                <select id="meta" ng-model="metaSelected" ng-options="'Meta '+i.code for i in metaList"
                                    class="form-control"></select>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        ng-click="selectMeta()">Selecionar</button>
                </div>
            </form>
        </div>
    </div>
</div>