
<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a><i class="fa fa-user fa-fw"></i> Meu perfil</a>
            </li>
            <li><a><i class="fa fa-cogs fa-fw"></i> Configurações</a>
            </li>
            <li class="divider"></li>
            <li><a href ng-click="logoff()"><i class="fa fa-sign-out-alt fa-fw"></i> Sair</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
