<div class="panel panel-default">
    <div class="panel-heading">
        <span class=""><i class="fa fa-info"></i> Informações</span>
    </div>
    <div class="panel-body">
        <b>Texto da meta:</b> {{item.descricao}}
        <br>
        <b>Observações:</b> {{item.observacao}}
        <br>
        <b>Prazo original:</b> {{item.prazo.original }}
        <br>
        <b>Prazo alternativo:</b> {{item.prazo.alternativo }}
        <br>
        <b>Indicadores:</b> {{(!item._indicador)? 0 : item._indicador.length }}
        <br>
        <b>Estratégias:</b> {{(!item._estrategia)? 0 : item._estrategia.length }}
        <hr>
        <div class="text-right">
            <button class="btn btn-xs btn-default" ng-click="editItem(item)" data-toggle="modal"
                data-target="#metaModal">
                <i class="fa fa-edit"></i> Editar
            </button>
            <button class="btn btn-xs btn-danger" ng-click="deleteItem(item)">
                <i class="fa fa-trash-alt"></i> Excluir
            </button>
        </div>
        <br>
        <!-- <a ui-sref="metaProfile({param1:item})" class="btn btn-default btn-block"> -->
        <a href="/app/meta/{{item.codigo}}" class="btn btn-default btn-block">
            Ver mais sobre esta meta
        </a>
    </div>
</div>