<div id="alerta"></div>

<!-- * TÍTULO DA PÁGINA -->
<div class="row hidden-print">
    <div class="col-xs-12">

        <!-- * BOTÃO FAVORITO -->
        <h2>
            <a ng-hide="fav" ng-click="createFav()">
                <span class="pull-right"><i class="far fa-star"></i></span>
            </a>
            <a ng-show="fav" ng-click="removeFav()">
                <span class="pull-right"><i class="fas fa-star"></i></span>
            </a>
        </h2>

        <!-- * TÍTULO DA PÁGINA -->
        <h2><i class="fa fa-fonticons"></i> Critérios de análise</h2>
        
    </div>
</div>

<div class="row hidden-print">
    <div class=" col-sm-6 col-xs-12">

        <!-- * BOTAO [criar novo] -->
        <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#criteryModal" ng-click="editItem({status: statusEnum.EM_ESTUDO})">
            <i class="fa fa-plus"></i>
            Criar novo
        </button>

        <br><br>

        <!-- * FILTRO -->
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-filter"></i></span>
            <input class="form-control" type="text" ng-model="filtro" placeholder="Filtrar">
        </div>
    </div>
</div>
<br>
<div ui-view="body"></div>

<div ui-view="modal"></div>
<div ui-view="modal-evidencia"></div>